.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  transition: all ease-in-out $duration;
  padding: $gap-small 0;
  border: 1px solid transparent;
}

.logo {
  display: flex;

  &Container {
    display: flex;
    color: $color-black;
  }
}

.navContainer {
  display: flex;
}

.navList {
  display: flex;
  list-style: none;
  gap: $gap-large;
}

.navListItemLink {
  text-decoration: none;
  color: $color-black;
  transition: all ease-in-out 250ms;

  &:hover {
    color: $color-primary;
  }
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerScrolled {
  background-color: #fff;
  padding: $gap-xx-small 0;
  border-color: $color-light-gray;
}