.container {
    flex: 1;
    width: 100%;
    position: relative;
    padding: $gap-x-small;
    border-radius: $gap-small;
    border: 1px solid $color-light-gray;
    background-color: #fff;

    &>a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        z-index: 2;
    }

    &:hover {
        .imageContainer {
            box-shadow: $shadow;
            transform: scale(1.01);
        }
    }

    &:nth-child(3n + 2) {
        .badge {
            background-color: $color-black;
        }
    }

    &:nth-child(3n + 3) {
        .badge {
            background-color: $color-primary;
        }
    }
}


.imageContainer {
    width: 100%;
    position: relative;
    min-height: 200px;
    border-radius: $gap-x-small;
    overflow: hidden;
    margin-bottom: $gap-small;
    box-shadow: $shadow-none;
    transition: all $animation $duration-fast;


    img {
        object-fit: cover;
    }
}

.postCardTitle {
    font-size: $text-medium;
    font-weight: 700;
}

.postCardContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.badge {
    font-size: $text-x-small;
    font-weight: 700;
    padding: $gap-xxx-small $gap-xx-small;
    background-color: $color-secondary;
    border-radius: $gap-x-small;
    color: #fff;
}

.postCardExcerpt {
    margin-top: $gap-x-small;
}