.btn {
  cursor: pointer;
  box-shadow: none;
  padding: $gap-x-small $gap-small;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: all ease-in-out $duration;
  font-weight: 600;
  font-size: $text-medium;
}

.primary {
  background-color: $color-primary;
  color: #fff;

  &:hover {
    background-color: $color-primary-dark;
  }
}


.secondary {
  background-color: $color-secondary;
  color: #fff;

  &:hover {
    background-color: darken($color-secondary, $darken-amount);
  }
}

.danger {
  background-color: $color-red;
  color: #fff;

  &:hover {
    background-color: darken($color-red, $darken-amount);
  }
}