/** Colors **/
$color-primary: #615DFA;
$color-primary-dark: #4542b9;
$color-secondary: #3AC6F9;
$color-black: #3E3F5E;
$color-dark-gray: #777;
$color-gray: #999;
$color-light-gray: #efefef;
$color-red: #f34a4a;
$darken-amount: 8;
/** Font sizes **/
$text-x-small: 0.7rem;
$text-small: 0.825rem;
$text-medium: 1rem;
$text-m-large: 1.5rem;
$text-large: 2.5rem;
$text-x-large: 5rem;
/** Gaps **/
$gap-xxx-small: .2rem;
$gap-xx-small: .5rem;
$gap-x-small: .825rem;
$gap-small: 1.25rem;
$gap-medium: 2rem;
$gap-large: 3rem;
$gap-x-large: 5rem;
$gap-xx-large: 8rem;
/** Animations **/
$duration: 650ms;
$duration-fast: 250ms;
$animation: cubic-bezier(0.77, 0, 0.18, 1);
/** Box Shadow **/
$shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2);
$shadow-none: 0px 10px 15px -3px rgba(0, 0, 0, 0);