/** Colors **/
$color-primary: #4C9AFF;
$color-secondary: #FFB14C;
$color-black: #11151c;
$color-dark-gray: #777;
$color-gray: #999;
$color-light-gray: #efefef;
$color-red: #f34a4a;
$darken-amount: 12;
/** Font sizes **/
$text-small: 0.825rem;
$text-medium: 1rem;
$text-large: 3rem;
$text-x-large: 5rem;
/** Gaps **/
$gap-xx-small: .5rem;
$gap-x-small: .825rem;
$gap-small: 1.25rem;
$gap-medium: 2rem;
$gap-large: 3rem;
$gap-x-large: 5rem;
/** Animations **/
$duration: 350ms;
/** Box Shadow **/
$shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);