* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: $color-black;
  background-image: url(/images/bg.svg);
  background-size: 70%;
  background-position: center;
  background-repeat: repeat-y;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
}

p, a, li {
  line-height: 1.6;
}

.container {
  width: 100%;
  margin: 0 auto;

  &--md {
    max-width: 1340px;
  }
}

.color-primary {
  color: $color-primary;
}

input,
textarea {
  padding: $gap-xx-small;
  outline: none;
  border: 1px solid $color-light-gray;
  border-radius: 5px;
  transition: all ease-in-out $duration;
  background: #fff;

  &:hover,
  &:focus {
    border-color: $color-primary;
  }
}